[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
  "cd Wefaaq.Api",
  "dotnet restore",
  "dotnet publish -c Release -o out"
]

[start]
cmd = "cd Wefaaq.Api/out && dotnet Wefaaq.Api.dll"
