[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
  "dotnet restore Wefaaq.Api/Wefaaq.Api.csproj",
  "dotnet publish Wefaaq.Api/Wefaaq.Api.csproj -c Release -o out"
]

[start]
cmd = "cd out && dotnet Wefaaq.Api.dll"
